* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}
   
.menu {
    list-style: none;
    display: flex;
}
  
.menu a,
.dot {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}
  
.menu li {
    padding: 0px 20px;
}
  
.nor {
    transition: all 0.3s ease 0s;
}

.nor:hover {
    color: #0088a9;
}
  
.dot {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

body {
    background: #256EFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fefae0;
    font-family: Amita;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
}

.gallery {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 5px solid #fff;
}

footer {
    background-color: #bc6c25;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100vw;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}